name: CI

on:
  push:
  pull_request:

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        ruby:
          - '3.1'
          - '3.2'
          - '3.3'
          - '3.4'
        gemfile:
          - rails_7.1
          - rails_7.2
          - rails_8.0
          - rails_8.1
        exclude:
          - ruby: '3.1'
            gemfile: rails_8.0
          - ruby: '3.1'
            gemfile: rails_8.1
    name: Run test with Ruby ${{ matrix.ruby }} and Gemfile ${{ matrix.gemfile }}
    services:
      mysql:
        image: mysql:8.4
        env:
          MYSQL_ALLOW_EMPTY_PASSWORD: '1'
          MYSQL_DATABASE: blouson
        ports:
          - 3306:3306
        options: >-
          --health-cmd "mysqladmin ping"
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
    env:
      BUNDLE_GEMFILE: ${{ github.workspace }}/gemfiles/${{ matrix.gemfile }}.gemfile
    steps:
      - uses: actions/checkout@v4
      - uses: ruby/setup-ruby@v1
        with:
          ruby-version: ${{ matrix.ruby }}
          bundler-cache: true
      - run: bundle exec rake spec
